*{
    margin: 0;
    padding: 0;
    font-family: "Bellota";
}

body{
    background-image:url(./assets/image\ \(1\).png);
}

form{
    max-width: 75%;
    height: 500px; 
    margin: 35px auto;
    background-color: #F8FFCA;
    border-radius: 20px;
    display: flex;
}

.containerForm{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 20px;
}
.tituloForm{
    display: flex;
    flex-direction: column;
}

.tituloForm h1{
    align-self: center;
}

.containerForm h1{
    font-family: "Julius Sans One";

}

form img{
    height: 500px;
    width: 400px;
    margin-left: auto;
}

.campoForm{
    margin-top: 45px;
}